* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: rgb(230,233,235);
  background: linear-gradient(0deg, rgba(255,255,255) 23%, rgb(252, 252, 252) 60%);
}



.container-fluid {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  gap: 8rem;
}

.navbar-nav {
  gap: 6rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #0B4666;
}

.navbar-brand img {
  width: 8em;
  height: 3em;
  margin: 0;
}

main
{
  min-height: 100vh;
}
/* ----------------------------FIN DE LO COMUN------------------------------------------------------- */

h1{
  color: #053047;
  padding-top: 1rem;
  margin-top:1.3rem;
  font-size: 1.1rem;
  text-align: center;
  padding-top: 0.7rem;
}

/* Carrousel pagina main */
.carrousel .container {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.textoMain {
  padding: 1rem;
  color: #437194;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  text-align: center;
}

h4 {
  margin-top: 0;
}

/* ---------------------------FOOTER-------------------------------------------------------------- */
/* Footer con FLEX */

footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  background-color:#437194;
  color: #D8E2E7;
  padding: 1rem 0 0 0;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.redesSociales {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.redesSociales a {
  display: inline-block;
  padding: 0.1rem;
}

.redesSociales img {
  height: 1.2em;
  width: 1.2em;
  margin: -1px 0px 2px 1px;
}


/* ------------------------------MEDIA QUERIES ---------------------------------------- */
/* Desktop */
@media (max-width:1440px) and (min-width:1025px) 
{
  h1{
    color: #053047;
    padding-top: 1rem;
    margin: 2rem 0.7rem 1rem 0.7rem;
    font-size:1.6rem;
    text-align: center;
  }

  .textoMain {
    padding: 2.5rem;
    color: #437194;
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 1.8rem;
    text-align: center;
  }

  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    background-color: #437194;
    color: #D8E2E7;
    padding: 1rem 0rem 0rem 0rem;
    width: 100%;
    position: fixed;
    bottom: 0;
  }

  .redesSociales {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
  }

  .redesSociales a {
    display: inline-block;
    padding: 0.1rem;
  }

  .redesSociales img {
    height: 1em;
    width: 1em;
    margin: -1px 0px 2px 1px;
  }


  .contenedor {
    display: flex;
    justify-content: center;
    width: auto;
  }

  .copy {
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
  }
}
/* --------------TABLET----------------------- */

@media (max-width: 768px) and (min-width: 425px) {

  h1{
    color: #053047;
    padding-top: 1rem;
    margin: 2rem 0.7rem 0.8rem 0.7rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .textoMain {
    padding: 2.5rem;
    color: #437194;
    margin-top: 1.5em;
    margin-bottom: 0em;
    font-size: 1.8rem;
    text-align: center;
  }

  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    background-color: #437194;
    color: #D8E2E7;
    padding: 1rem 0rem 0rem 0rem;
    width: 100%;
    position: fixed;
    bottom: 0;
  }

  .redesSociales {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
  }

  .redesSociales a {
    display: inline-block;
    padding: 0.1rem;
  }

  .redesSociales img {
    height: 1em;
    width: 1em;
    margin: -1px 0px 2px 1px;
  }


  .contenedor {
    display: flex;
    justify-content: center;
    width: auto;
  }

  .copy {
    margin-bottom: 1rem;
  }

  p {
    font-size: 0.8rem;
  }
}


/* MOBILE S*/
@media (max-width:375px) and (min-width:320px) {

  .container-fluid {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 0;
  }

  h1{
    color: #053047;
    padding-top: 1rem;
    margin: 1.7rem 0.7rem 1rem 0.7rem;
    font-size: 1.3rem;
    text-align: center;
  }

  .textoMain {
    padding: 2.5rem;
    color: #437194;
    margin-top: 1.2em;
    margin-bottom: 0em;
    font-size: 1.5rem;
    text-align: center;
  }

  footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    background-color: #437194;
    color: #D8E2E7;
    padding: 1rem 0rem 0rem 0rem;
    width: 100%;
    position: fixed;
    bottom: 0;
  }

  .redesSociales {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .redesSociales a {
    display: inline-block;
    padding: 0.1rem;
  }

  .redesSociales img {
    height: 1em;
    width: 1em;
    display: block;
    margin: auto;
    align-items: center;
  }

  p {
    font-size: 0.8rem;
    display: block;
    margin: auto;
    padding: 0;
    align-items: center;
  }

  .redes {
    display: none;
  }
}