* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background: rgb(230,233,235);
  background: linear-gradient(0deg, rgba(255,255,255) 23%, rgb(252, 252, 252) 60%);
}

.container-fluid {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  gap:0;
}

.navbar-nav {
  gap: 6rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #0B4666;
}

.navbar-brand img {
  width: 8em;
  height: 3em;
  margin:0;
}
main
{
  min-height: 100vh;
}
/* --------------------------------------------------FIN DE LO COMUN------------------------------------------------- */
/* Titulo para SEO */
h1{
  color: #053047;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 2rem;
}

h2{
  color: #597c8f;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

/* FOTO */
.img-fluid {
  width: 100%;
  height: auto;
}

/* 
.containerProductos
{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
} */

/*Esto es para el overlay de las fotos*/
/* Uso flex para alinear como fila todo lo que esta aca adentro */
.container {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly; 
  margin: 1rem auto;
}

.bg,
.overlay {
  text-align: center;
}

img,
.overlay {
  transition: 0.3s all;
  border-radius: 3px;
}

.bg {
  max-width: 24%;
  position: relative;
  margin: 0.5%;
}
.bg img {
  width: 100%;
}

.bg .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  opacity: 0;
}

.bg .overlay h3 {
  padding-top: 3%;
  padding-bottom: 2%;
  font-weight: 300;
  font-size: 1.4rem;
  color:#fff;
  font-family:'Roboto', sans-serif;
  text-align: center;
  display: block;
  margin:auto;
  }

/* items */
.bg .overlay ul li {
  font-family: "Julius Sans One", sans-serif;
  font-size:0.9rem;
  text-align: center;
  list-style: none;
  margin-right: 1.2rem;
  padding:0;
}
.bg:hover .overlay {
  opacity: 1;
}
.bg:hover img {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.textoProductos
{
  margin: 3rem 5rem 3rem 5rem;
  padding: 0;
  color: #ffff;
  background-color: #597c8f;
  display: block;
  text-align: center;
  font-style: italic;
  border-color: #597c8f;
  padding: 0.5%;
}

.textoProductos:hover
{
  background-color: #265672;
  border-color: #265672;
}
.textoProductos a
{
  text-decoration: none;
  color: white;
}

.textoProductos a:hover
{
  color:#90b8d4;
}
/* ---------------------------FOOTER-------------------------------------------------------------- */
/* Footer con FLEX */
footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  background-color:#437194;
  color: #D8E2E7;
  padding: 1rem 0rem 0rem 0rem;
  width: 100%;
  position:relative;
  bottom: 0;
}

.redesSociales {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.redesSociales a {
  display: inline-block;
  padding: 0.1rem;
}

.redesSociales img {
  height: 1.2em;
  width: 1.2em;
  margin: -1px 0px 2px 1px;
}

/* ------------------------------MEDIA QUERIES ---------------------------------------- */
/* MOBILE S*/
@media (max-width:375px) and (min-width:320px) {

  h1{
    color: #053047;
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem 1rem 0 1rem;
  }

  h2 {
    color: #597c8f;
    font-size: 1.2rem;
    text-align: center;
    margin: 2rem 1rem 0 1rem;
  }

  .container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    text-align: center;
    gap: 0;
  }

  .bg {
    float: none;
    max-width: 80%;
    margin: 1% auto;
  }

  .textoProductos
{
  margin: 3rem 3rem 3rem 3rem;
  color: #ffff;
  background-color: #597c8f;
  display: block;
  text-align: center;
  font-style: italic;
  border-color: #597c8f;
  padding:1rem 2rem 1rem 2rem;
}
.textoProductos:hover
{
  background-color: #265672;
  border-color: #265672;
}
.textoProductos a
{
  text-decoration: none;
  color: white;
}

  footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    background-color: #437194;
    color: #D8E2E7;
    padding: 1rem 0 0 0;
    width: 100%;
    position:relative;
    bottom: 0;
  }

  .redesSociales {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .redesSociales a {
    display: inline-block;
    padding: 0.1rem;
  }

  .redesSociales img {
    height: 1em;
    width: 1em;
    display: block;
    margin: auto;
    align-items: center;
  }

  p {
    font-size: 0.8rem;
    display: block;
    margin: auto;
    padding: 0;
    align-items: center;
  }

  .redes {
    display: none;
  }
}



/* --------------TABLET----------------------- */
@media (max-width: 768px) and (min-width: 425px)
{
  body
  {
    width: 100%;
    height: 100%;
  }

  h3 {
    color: #597c8f;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 2rem;
  }
  
  .container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    text-align: center;
    gap: 0;
  }

  .bg .overlay {
    position: absolute;
    top: 0;
    left: 11rem;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    opacity: 0;
  }
  .bg .overlay
  {
    width:50%;
  }

  .bg .overlay h3 {
    padding-top: 3%;
    padding-bottom: 2%;
    font-weight: 300;
    font-size: 2rem;
    color:#fff;
    font-family:'Roboto', sans-serif;
    text-align: center;
    display: block;
    margin:auto;
    }
  
  .textoProductos
{
  margin: 3rem 3rem 3rem 3rem;
  color: #ffff;
  background-color: #597c8f;
  display: block;
  text-align: center;
  font-style: italic;
  border-color: #597c8f;
  padding:1rem 2rem 1rem 2rem;
}
.textoProductos:hover
{
  background-color: #265672;
  border-color: #265672;
}
.textoProductos a
{
  text-decoration: none;
  color: white;
}
  /* items */
  .bg .overlay ul li {
    font-family: "Julius Sans One", sans-serif;
    font-size:0.9rem;
    text-align: center;
    list-style: none;
    margin-right: 1.8rem;
  
    padding:0;
  }

  .bg {
    float: none;
    max-width: 100%;
    margin: 1% auto;
  }

  .bg img {
    width: 50%;
  }

  .textoProductos
  {
    margin: 3rem 13rem 3rem 13rem;
    color: #ffff;
    background-color: #597c8f;
    display: block;
    text-align: center;
    font-style: italic;
    border-color: #597c8f;
    padding:1rem 2rem 1rem 2rem;
  }
  .textoProductos:hover
  {
    background-color: #265672;
    border-color: #265672;
  }
  .textoProductos a
  {
    text-decoration: none;
    color: white;
  }

  footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    background-color: #437194;
    color: #D8E2E7;
    padding: 1rem 0 0 0;
    width: 100%;
    position:relative;
    bottom: 0;
  }

  .redesSociales {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .redesSociales a {
    display: inline-block;
    padding: 0.1rem;
  }

  .redesSociales img {
    height: 1em;
    width: 1em;
    display: block;
    margin: auto;
    align-items: center;
  }

  p {
    font-size: 0.8rem;
    display: block;
    margin: auto;
    padding: 0;
    align-items: center;
  }

  .redes {
    display: none;
  }
}

  
/* @media screen and (max-width: 1148px) {
  .bg {
    max-width: 48%;
    margin: 1%;
  }
}

@media screen and (max-width: 768px) {
  .bg {
    float: none;
    max-width: 80%;
    margin: 1% auto;
  }
} */