* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: rgb(230,233,235);
  background: linear-gradient(0deg, rgba(255,255,255) 23%, rgb(252, 252, 252) 60%);
}

.container-fluid {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  gap: 8rem;
}

.navbar-nav {
  gap: 6rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #0B4666;
}

.navbar-brand img {
  width: 8em;
  height: 3em;
  margin: 0;
}

main
{
  min-height: 100vh;
}
/* -------------------------------------------------FIN DE LO COMUN-------------------------------------------------*/
h1
{
  color: #053047;
  margin-top: 0.8rem;
  text-align: center;
  padding-top:0.7rem;
  font-size:1.5rem;
}
.textoNosotros {
  color: #174E6D;
  text-align: center;
  font-size:1rem;
  margin: 1rem 4rem 1rem 4rem;
}

.img-fluid {
  width: 100%;
  height: 30rem;
}

/* ---------------------------FOOTER-------------------------------------------------------------- */
/* Footer con FLEX */
footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  background-color:#437194;
  color: #D8E2E7;
  padding: 1rem 0 0 0;
  width: 100%;
  position:relative;
  bottom: 0;
}

.redesSociales {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.redesSociales a {
  display: inline-block;
  padding: 0.1rem;
}

.redesSociales img {
  height: 1.2em;
  width: 1.2em;
  margin: -1px 0px 2px 1px;
}

/* ------------------------------MEDIA QUERIES ---------------------------------------- */
/* --------------TABLET----------------------- */
@media (max-width: 768px) and (min-width: 425px) {
  .text {
    position: absolute;
    color: #062333;
    top: 12%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
  }

  .textoNosotros {
    color: #174E6D;
    font-size: 1.8rem;
    text-align: center;
    margin: 2rem 1rem 2rem 1rem;
  }

  footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    background-color: #437194;
    color: #D8E2E7;
    padding: 1rem 0 0 0;
    width: 100%;
    position:relative;
    bottom: 0;
  }

  .redesSociales {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .redesSociales a {
    display: inline-block;
    padding: 0.1rem;
  }

  .redesSociales img {
    height: 1em;
    width: 1em;
    display: block;
    margin: auto;
    align-items: center;
  }

  p {
    font-size: 0.8rem;
    display: block;
    margin: auto;
    padding: 0;
    align-items: center;
  }

  .redes {
    display: none;
  }
}

/* --------------------------------------------------- */
/* MOBILE S*/
@media (max-width:375px) and (min-width:320px) {
  
  .container-fluid {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 0;
  }

  .text {
    position: absolute;
    color: #062333;
    top: 10%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
  }

  .img-fluid {
    width: 100%;
    height: 20rem;
  }
  .textoNosotros {
    color: #174E6D;
    font-size: 1rem;
    text-align: center;
    margin:0.5rem 0.7rem 2rem 0.7rem;
  }

  footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    background-color: #437194;
    color: #D8E2E7;
    padding: 1rem 0rem 0rem 0rem;
    width: 100%;
    position:relative;
    bottom: 0;
  }

  .redesSociales {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .redesSociales a {
    display: inline-block;
    padding: 0.1rem;
  }

  .redesSociales img {
    height: 1em;
    width: 1em;
    display: block;
    margin: auto;
    align-items: center;
  }

  p {
    font-size: 0.8rem;
    display: block;
    margin: auto;
    padding: 0;
    align-items: center;
  }

  .redes {
    display: none;
  }
}