
.container404
{
.img-fluid
    {
        @include sizesImg(100%,34rem);
    }
}


.contact
{
    text-decoration: none;
    color:$color_titulos;
}

.home
{
    text-decoration: none;
    color:$color_subtitulos;
}
.returnHome
{
    text-align: center;
    color: $color_titulos;
    font-size: 1.4rem;
    margin-top: 1rem;
}