$color__formulario:#628eac;
$color__formulario--letra:whitesmoke;
$color__textArea--fondo:rgb(211, 211, 211);
$color__boton:#4d7891;
$color__boton--hover:#458cb6;
$color__botonS:#0B4666;
$color__botonS--hover:#134d6d;
$border-radius:2%;


.tituloContacto{
    color: $color_titulos; 
    font-size: 1.4rem;
    text-align: center;
    margin: 4rem 0.7rem 0 5rem;
    /* NECESITO VER SI ESTO SE PASA */
} 

h2{
    color: $color_subtitulos;
    font-size: 1.3rem;
    text-align: left;
    margin: 1rem 0.7rem 0 5rem;
}

/*------------------------------------------------FORMULARIO y BANNER--------------------------------------------------------*/
    .row 
    {
        .col-lg-4 
        {
            .formulario 
            {
                border: solid 0.5rem $color__formulario;
                border-radius:$border-radius;
                background-color:$color__formulario;
                color: $color__formulario--letra;
                font-size:0.9rem;
                align-items: center;
    
                .comentarios {
                    padding-top: 0.8rem;
                    padding-bottom: 0.8rem;
                    color: rgb(211, 211, 211);
                }
    
                .boton {
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    margin-bottom: 0.8rem;
                    background-color:$color__boton;
                    border:$color__boton;
                    font-size: 0.8rem;
                }
    
                .boton:hover
                {
                    background-color:$color__boton--hover;
                    border:$color__boton--hover;
                }
            }
        }  

        .col-lg-6
        {
            padding-top: 1.1rem;
            margin-left: 9rem;
        .img 
            {
                width: 32rem;
                height:16.7rem; 
                border-radius: $border-radius;
            }
            
        }
    }

