footer 
{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	background-color:$color_footer;
	//background-image: linear-gradient(to left, #628eac, #053047);
	color: whitesmoke;
	padding: 1rem 0 0 0rem;
	width: 100%;
	position: relative;
	bottom: 0;
	
	.redesSociales 
	{
		display: flex;
		justify-content: flex-end;
		margin-right:0.3rem;
		.redes
		{
			font-size:0.9rem;
			padding: 0;
			margin: 0 0.5rem 0 0;
		}
		a 
		{
			display: inline-block;
			padding: 0.1rem;
		}
		img 
		{
			@include sizesImg(1.2em,1.2em);
			//margin: -1px 0px 2px 1px;
			margin: -2px 0px 7px 1px;
		}
	}
	.frase
	{
		font-size:0.9rem;
	}
	.copy
	{
		font-size:0.9rem;
	}
} 
