$color__textArea:#59849b;
$color__textArea--hover:#265672;
h1 {
    padding-top: 1rem;
    margin-top: 1.3rem;
    padding-top: 0.9rem;
}


.textoMain {
    padding:0.5rem;
    margin-top:0;
    margin-bottom:0.5rem;
    @extend %texto;
}

.box
{
    font-size: 1rem;
    margin: 2rem 7rem 3rem 7rem;
    padding: 1%;
    color:whitesmoke;
    background-color: $color__textArea;
    border-color: $color__textArea;
    display: block;
    text-align: center;
    font-style: italic;
    a
    {
        color: whitesmoke;
    }  
}

.box:hover
{
    padding:2%;
    background-color: rgb(120, 173, 194);
    color: white;
    font-size: 1.1rem;
}