/* $color__formulario:#628eac;
$color__formulario--letra:whitesmoke;
$color__textArea--fondo:rgb(211, 211, 211);
$color__boton:#4d7891;
$color__boton--hover:#60879e; */
/* ------------------------------MEDIA QUERIES ---------------------------------------- */
/* --------------DESKTOP----------------------*/
@media (max-width:1440px) and (min-width:1025px) 
{
    .container-fluid 
    {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        gap: 8rem;
    }
    .navbar-nav {
        gap: 6rem;
    }
    .navbar-light {
        .navbar-nav {
            .nav-link {
                color:$color_navbar_links;
            }
        }
    }
    .navbar-brand {
        img {
            width: 8em;
            height: 3em;
            margin: 0rem 0rem 0rem 0rem;
        }
    }

    .tituloContacto{
        color: $color_titulos;
        font-size: 1.4rem;
        text-align: left;
        margin: 4rem 0.7rem 0 5rem;
    }
    
    h2 {
        color: $color_subtitulos;
        font-size: 1.3rem;
        text-align: left;
        margin: 1rem 0.7rem 0 5rem;
    }
    
    /*------------------------------------------------FORMULARIO--------------------------------------------------------*/
    
    .row {
        .col-lg-4 
        {
    
            .formulario {
                border: solid 0.5rem $color__formulario;
                border-radius: 2%;
                background-color:$color__formulario;
                padding-right: 1rem;
                padding-left: 1rem;
                color:$color__formulario--letra;
                font-size: 0.9rem;
                margin-bottom: 12.3rem;
                margin-top: 1rem;
    
                .comentarios {
                    padding-top: 0.8rem;
                    padding-bottom: 0.8rem;
                    color: rgb(211, 211, 211);
                }
    
                .boton {
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    margin-bottom: 0.8rem;
                    background-color:$color__boton;
                    border:$color__boton;
                    font-size: 0.8rem;
                }
            }
        }
        .col-lg-6
        {
            padding-top: 1.1rem;
            margin-left: 9rem;
        .img /* Imagen de suscribe */
            {
                width: 32rem;
                height:16.7rem; 
                border-radius: $border-radius;
            }
            .suscr /* Input de suscribe */
                {
                    position: absolute;
                    bottom: 30em;
                    right:11em;
                }
                .botonS { /* boton de suscribe */
                    background-color:$color__botonS;
                    border:$color__botonS;
                    font-size: 0.8rem;
                    position: absolute;
                    bottom: 34.8em;
                    right:17em;
                }
                .botonS:hover
                {
                    box-shadow: 0px 10px 10px -6px white;
                    background-color:$color__botonS--hover;
                    border:$color__botonS--hover;
                }
        }
    }
}

/* ------------------------------------------TABLET----------------------------------------------*/
@media (max-width: 768px) and (min-width: 425px) 
{
    .tituloContacto{
        color: $color_titulos;
        font-size: 1.4rem;
        text-align:center;
        margin: 1rem 0.7rem 0 5rem;
    }
    
    h2 {
        color: $color_subtitulos;
        font-size: 1.3rem;
        text-align:center;
        margin: 1rem 0.7rem 0.5rem 0;
    }
    .row 
    {
        display:flex;
        flex-direction: column;
        .col-lg-4 
        {
            margin-left: 0rem;
            .formulario {
                border: solid 0.5rem $color__formulario;
                border-radius:$border-radius;
                background-color:$color__formulario;
                padding: 0 1rem 1rem 1rem;
                color:$color__formulario--letra;
                font-size: 0.9rem;
                margin-bottom: 1rem;
                margin-top: 1rem;
    
                .comentarios {
                    padding-top: 0.8rem;
                    padding-bottom: 0.8rem;
                    color: rgb(211, 211, 211);
                }
    
                .boton {
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    margin-bottom: 0.8rem;
                    background-color:$color__boton;
                    border:$color__boton;
                    font-size: 0.8rem;
                }
            }
        }
        .col-lg-6
        {
            padding-top: 1.2rem;
            margin-left: 0;
        .img /* Imagen de suscribe */     
            {
                width: 43.5rem;
                height:16.7rem; 
                border-radius: $border-radius;
            }
        }
    }
    
}

/* --------------CELULAR---------------------- */
@media (max-width:375px) and (min-width:320px)
{
    .tituloContacto{
        color: $color_titulos;
        font-size: 1.4rem;
        text-align:center;
        margin: 1rem 0 0 0;
    }
    
    h2 {
        color: $color_subtitulos;
        font-size: 1.3rem;
        text-align:center;
        margin: 1rem 0.7rem 0.5rem 0;
    }
    .frase
    {
        display:none;
    }

    .row
    {
        .col-lg-6
        {
            padding-top: 1.1rem;
            margin-left:0;
        .img
            {
                width: 22rem;
                height:16.7rem; 
            }
        
        
        }
    }
    
}