/* ------------------------------MEDIA QUERIES ---------------------------------------- */
/* ------------------------------------------DESKTOP----------------------------------------------*/
@media (max-width:1440px) and (min-width:1025px) 
{
    .returnHome
    {
        text-align: center;
        color: $color_titulos;
        font-size: 1rem;
        margin: 1rem 1rem 1rem 1rem;
    }
}

/* ------------------------------------------TABLET----------------------------------------------*/
@media (max-width: 768px) and (min-width: 425px) 
{
    .texto404
    {
        margin: 1rem 1rem 1rem 1rem;
    }
    .returnHome
    {
        text-align: center;
        color: $color_titulos;
        font-size: 1.4rem;
        margin: 1rem 1rem 1rem 1rem;
    }
}

/* ------------------------------------------CELULAR--------------------------------------------*/
@media (max-width:375px) and (min-width:320px)
{

    .texto404
    {
        margin: 1rem 1rem 1rem 1rem;
    }
    .img-fluid
    {
        @include sizesImg(20rem,20rem);
        display: block;
        margin: 1.5rem auto 2rem auto;
        border-radius:$border-radius;
    }
    .returnHome
    {
        text-align: center;
        color: $color_titulos;
        font-size:1.2rem;
        margin: 1rem 1rem 1rem 1rem;
    }
}