/* ------------------------------MEDIA QUERIES ---------------------------------------- */
/* Desktop */
@media (max-width:1440px) and (min-width:1025px) 
{
    h1 {
        color:$color_titulos;
        padding-top: 1rem;
        margin: 2rem 0.7rem 0.5rem 0.7rem;
        font-size: 1.5rem;
        text-align: center;
    }
    .textoMain {
        padding: 2rem;
        color:$color_texto;
        margin-top: 1em;
        margin-bottom: 0em;
        font-size: 1.3rem;
        text-align: center;
    }
    footer 
    {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        background-color:$color_footer;
        color: $color_footer_texto;
        padding: 1rem 0rem 0rem 0rem;
        width: 100%;
        position: relative;
        bottom: 0;
        .redesSociales 
        {
            display: flex;
            justify-content: flex-end;
            margin-right: 1rem;
            a 
            {
                display: inline-block;
                padding: 0.1rem;
                img 
                {
                    height: 1em;
                    width: 1em;
                    margin: -1px 0px 2px 1px;
                }
            }
            
        }

    }
    
    .copy {
        margin-bottom: 1rem;
    }
    .frase {
        font-size: 1.2rem;
    }
    
}

/* --------------TABLET----------------------- */

@media (max-width: 768px) and (min-width: 425px) 
{
    h1 {
        color: $color_titulos;
        padding-top: 1rem;
        margin: 2rem 0.7rem 0.5rem 0.7rem;
        font-size: 1.8rem;
        text-align: center;
    }

    .textoMain {
        padding: 2.5rem;
        color: $color_texto;
        margin-top: 1rem;
        margin-bottom: 0;
        font-size: 1.5rem;
        text-align: center;
    }

    .box
    {
        font-size: 1rem;
        margin: 2rem 7rem 3rem 7rem;
        padding: 3%;
        color:whitesmoke;
        background-color: $color__textArea;
        border-color: $color__textArea;
        display: block;
        text-align: center;
        font-style: italic;
        a
        {
            text-decoration: none;
            color: whitesmoke;
        }  
    }

    .box:hover
    {
        padding:5%;
        background-color: rgb(120, 173, 194);
        color: white;
        font-size: 1.1rem;
    }

    footer 
    {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        background-color: $color_footer;
        color: $color_footer_texto;
        padding: 1rem 0rem 0rem 0rem;
        width: 100%;
        position: relative;
        bottom: 0;
        .redesSociales 
        {
            display: flex;
            justify-content: flex-end;
            margin-right: 1rem;
            font-size: 0.8rem;
            .redes
            {
                display: none;
            }
            a {
                display: inline-block;
                padding: 0.1rem;

                img {
                    height: 1em;
                    width: 1em;
                    margin: -1px 0px 2px 1px;
                }
            }
        }

        .copy {
            margin-bottom: 1rem;
            font-size: 0.8rem;
        }

        .frase {
            font-size: 0.8rem;
        }
    }
}
/* ---------------------MOBILE S-----------------------------*/
@media (max-width:375px) and (min-width:320px) {
    .container-fluid {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        gap: 0;
    }

    h1 {
        color: $color_titulos;
        padding-top: 1rem;
        margin: 1.7rem 0.7rem 1rem 0.7rem;
        font-size: 1.7rem;
        text-align: center;
    }

    .textoMain 
    {
        padding: 1.5rem;
        color:$color_texto;
        margin-top: 1rem;
        margin-bottom: 0em;
        font-size: 1.5rem;
        text-align: center;
    }
    .box
    {
        font-size: 1rem;
        margin: 1rem 3rem 2rem 3rem;
        padding: 3%;
        color:whitesmoke;
        background-color: $color__textArea;
        border-color: $color__textArea;
        display: block;
        text-align: center;
        font-style: italic;
        a
        {
            text-decoration: none;
            color: whitesmoke;
        }  
    }

    .box:hover
    {
        padding:4%;
        background-color: rgb(120, 173, 194);
        color: white;
        font-size: 1.1rem;
    }

    footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        background-color: $color_footer;
        color: $color_footer_texto;
        padding: 1rem 0rem 0rem 0rem;
        width: 100%;
        position: relative;
        bottom: 0;
        .redesSociales 
        {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                display: inline-block;
                padding: 0.1rem;

                img {
                    height: 1em;
                    width: 1em;
                    display: block;
                    margin: auto;
                    align-items: center;
                }
            }

        }
    }

    .copy {
        font-size: 0.8rem;
        display: block;
        margin: auto;
        padding: 0;
        align-items: center;
    }
    .frase
    {
        display:none;
    }
    .redes 
    {
        display: none;
    }

}