/* ------------------------------MEDIA QUERIES ---------------------------------------- */
/* ------------------------------------------DESKTOP----------------------------------------------*/
@media (max-width:1440px) and (min-width:1025px) 
{
    .returnHome
    {
        text-align: center;
        color: $color_titulos;
        font-size: 1rem;
        margin: 1rem 1rem 1rem 1rem;
    }
}

/* ------------------------------------------TABLET----------------------------------------------*/
@media (max-width: 768px) and (min-width: 425px) 
{
    .texto404
    {
        margin: 1rem 1rem 1rem 1rem;
    }
    .returnHome
    {
        text-align: center;
        color: $color_titulos;
        font-size: 1.4rem;
        margin: 1rem 1rem 1rem 1rem;
    }
}

/* ------------------------------------------CELULAR--------------------------------------------*/
@media (max-width:411px) and (min-width:320px)
{

    .texto404
    {
        margin: 1rem 1rem 0.5rem 1rem;
    }

    .container404 {
        .img-fluid {
            @include sizesImg(100%, 20rem);
        }
        margin-top: 0;
    }
    .returnHome
    {
        text-align: center;
        color: $color_titulos;
        font-size:1.2rem;
        margin: 1rem 1rem 1rem 1rem;
    }
}