/* ------------------------------MEDIA QUERIES ---------------------------------------- */
/* MOBILE S*/
@media (max-width:375px) and (min-width:320px) {

    h1 {
        color: #053047;
        font-size: 1.5rem;
        text-align: center;
        margin: 2rem 1rem 0 1rem;
    }

    h2 {
        color: #597c8f;
        font-size: 1.2rem;
        text-align: center;
        margin: 2rem 1rem 0 1rem;
    }

    .containerP
    {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        gap: 2rem;
        .bg 
        {
            float: none;
            max-width: 80%;
            margin: 1% auto;
        }   
    }

    

    .textoProductos {
        margin: 3rem 3rem 3rem 3rem;
        color: #ffff;
        background-color: #597c8f;
        display: block;
        text-align: center;
        font-style: italic;
        border-color: #597c8f;
        padding: 1rem 2rem 1rem 2rem;
        a 
        {
            text-decoration: none;
            color: white;
        }
    }

    .textoProductos:hover {
        background-color: #265672;
        border-color: #265672;
    }

    

    footer 
    {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        background-color: #437194;
        color: #D8E2E7;
        padding: 1rem 0 0 0;
        width: 100%;
        position: relative;
        bottom: 0;
        .redesSociales 
        {
            display: flex;
            justify-content: center;
            align-items: center;
        .a {
                display: inline-block;
                padding: 0.1rem;
                img 
                {
                    height: 1em;
                    width: 1em;
                    display: block;
                    margin: auto;
                    align-items: center;
                }
            }
        }
        p {
            font-size: 0.8rem;
            display: block;
            margin: auto;
            padding: 0;
            align-items: center;
        }
    
        .redes {
            display: none;
        }
    }
}



/* --------------TABLET----------------------- */
@media (max-width: 768px) and (min-width: 425px) {
    body {
        width: 100%;
        height: 100%;
    }

    h3 {
        color: #597c8f;
        font-size: 1.8rem;
        text-align: center;
        margin-top: 2rem;
    }

    /*Esto es para el overlay de las fotos*/
/* Uso flex para alinear como fila todo lo que esta aca adentro */
.containerP 
{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    text-align: center;
    gap: 0;
    .bg
    {
        float: none;
        max-width: 80%;
     /*    position: relative; */
        margin: 0.5% auto;
        img
        {
            transition: 0.3s all;
            border-radius: 3px;
            width: 100%;
        }
        img:hover {
            -webkit-filter: blur(2px);
            filter: blur(2px);
        }
        .overlay 
        {
            text-align: center;
            transition: 0.3s all;
            border-radius: 3px;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.2);
            color:$color__overlay--letra;

            opacity: 0;
            h3 
            {
                padding-top: 3%;
                padding-bottom: 2%;
                font-weight: 300;
                font-size: 1.4rem;
                color:$color__overlay--letra;
                font-family: 'Roboto', sans-serif;
                text-align: center;
                display: block;
                margin: auto;
            }
            ul
            {
            /* items */
                li 
                {
                    font-family: "Julius Sans One", sans-serif;
                    font-size: 0.9rem;
                    text-align: center;
                    list-style: none;
                    margin-right: 1.2rem;
                    padding: 0;
                }
            }
        }
        .overlay:hover
        {
            opacity: 1; 
        }
    } 
} 
    .textoProductos {
        margin: 3rem 5rem 3rem 5rem;
        padding: 0;
        color:$color__overlay--letra;
        background-color:$color__textArea--fondo;
        display: block;
        text-align: center;
        font-style: italic;
        border-color:$color__textArea--borde;
        padding: 0.5%;
        a {
            text-decoration: none;
            color:$color__overlay--letra;
        }
        
        a:hover {
            color:$color__link--hover
        }
    }
    
    .textoProductos:hover {
        background-color:$color__textArea--hover;
        border-color:$color__textAreaB--hover;
    }
    
}