/* $color__overlay--letra:white;
$color__textArea:#59849b;
$color__textArea--hover:#265672;
$color__textAreaB--hover:#265672;
$color__link--hover:#90b8d4;
$color_fondo:#f8f9fa;
$color_navbar:#f8f9fa;
$color_navbar_links:#0B4666;
$color_footer:#437194;
$color_footer_texto:#D8E2E7;
$color_titulos:#0B4666;
$color_subtitulos:#597c8f;
$color_texto:#437194; */

/* ------------------------------MEDIA QUERIES ---------------------------------------- */

/* --------------DESKTOP----------------------*/
@media (max-width:1440px) and (min-width:1025px) 
{
    h1 {
        color:$color_titulos;
        font-size: 1.5rem;
        text-align: center;
        margin: 2rem 1.5rem 0 1.5rem;
    }

    .subProductos {
        color:$color_subtitulos;
        font-size: 1.2rem;
        text-align: center;
        margin: 2rem 1rem 1.5rem 1rem;
    }

    /*Esto es para el overlay de las fotos*/
/* Uso flex para alinear como fila todo lo que esta aca adentro */
.containerP 
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    gap: 0;
    .bg
    {
        float: none;
        max-width: 40%;
        margin: 2% auto;
        img
        {
            transition: 0.3s all;
            border-radius: 3px;
            width: 100%;
        }
        img:hover {
            -webkit-filter: blur(2px);
            filter: blur(2px);
        }
        .overlay 
        {
            text-align: center;
            transition: 0.3s all;
            border-radius: 3px;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.2);
            color:$color__overlay--letra;

            opacity: 0;
            h3 
            {
                padding-top: 3%;
                padding-bottom: 2%;
                font-weight: 300;
                font-size: 1.4rem;
                color:$color__overlay--letra;
                font-family: 'Roboto', sans-serif;
                text-align: center;
                display: block;
                margin: auto;
            }
            ul
            {
            /* items */
                li 
                {
                    font-family: "Julius Sans One", sans-serif;
                    font-size: 1rem;
                    text-align: center;
                    list-style: none;
                    margin-right: 1.2rem;
                    padding: 0;
                }
            }
        }
        .overlay:hover
        {
            opacity: 1; 
        }
    } 
} 
    .textoProductos {
        margin: 3rem 1rem 3rem 1rem;
        padding: 0;
        color:$color__overlay--letra;
        background-color:$color__textArea;
        display: block;
        text-align: center;
        font-style: italic;
        border-color:$color__textArea;
        padding: 0.5%;
        a {
            text-decoration: none;
            color:$color__overlay--letra;
        }
        
        a:hover {
            color:$color__link--hover;
        }
    }
    
    .textoProductos:hover {
        background-color:$color__textArea--hover;
        border-color:$color__textArea--hover;
    }
    

}

/* --------------TABLET----------------------- */
@media (max-width: 768px) and (min-width: 425px) {
    body {
        width: 100%;
        height: 100%;
    }

    h1 {
        color:$color_titulos;
        font-size: 1.5rem;
        text-align: center;
        margin: 2rem 1.5rem 0 1.5rem;
    }

    .subProductos {
        color:$color_subtitulos;
        font-size: 1.4rem;
        text-align: center;
        margin: 2rem 1rem 1.5rem 1rem;
    }

    /*Esto es para el overlay de las fotos*/
/* Uso flex para alinear como fila todo lo que esta aca adentro */
.containerP 
{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    text-align: center;
    gap: 0;
    .bg
    {
        float: none;
        max-width: 40%;
        margin: 0.5% auto;
        img
        {
            transition: 0.3s all;
            border-radius: 3px;
            width: 100%;
        }
        img:hover {
            -webkit-filter: blur(2px);
            filter: blur(2px);
        }
        .overlay 
        {
            text-align: center;
            transition: 0.3s all;
            border-radius: 3px;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.2);
            color:$color__overlay--letra;

            opacity: 0;
            h3 
            {
                padding-top: 3%;
                padding-bottom: 2%;
                font-weight: 300;
                font-size: 1.4rem;
                color:$color__overlay--letra;
                font-family: 'Roboto', sans-serif;
                text-align: center;
                display: block;
                margin: auto;
            }
            ul
            {
            /* items */
                li 
                {
                    font-family: "Julius Sans One", sans-serif;
                    font-size: 1rem;
                    text-align: center;
                    list-style: none;
                    margin-right: 1.2rem;
                    padding: 0;
                }
            }
        }
        .overlay:hover
        {
            opacity: 1; 
        }
    } 
} 
    .textoProductos {
        margin: 3rem 14.5rem 3rem 14.5rem;
        padding: 0;
        color:$color__overlay--letra;
        background-color:$color__textArea;
        display: block;
        text-align: center;
        font-style: italic;
        border-color:$color__textArea;
        padding: 0.5%;
        a {
            text-decoration: none;
            color:$color__overlay--letra;
        }
        
        a:hover {
            color:$color__link--hover;
        }
    }
    
    .textoProductos:hover {
        background-color:$color__textArea--hover;
        border-color:$color__textArea--hover;
    }
    
}
/*----------------------- CELULAR-------------------------------------------*/

@media (max-width:375px) and (min-width:320px) {

    /* Foto productos */
    .container 
    {
        .img-fluid 
        {
            @include sizesImg(100%,34rem);
            border-radius:$border-radius;
        }
    }



    h1 {
        color:$color_titulos;
        font-size: 1.5rem;
        text-align: center;
        margin: 0 1rem 0 1rem;
    }


    .subProductos {
        color:$color_subtitulos;
        font-size: 1rem;
        text-align: center;
        margin: 2rem 1rem 0 1rem;
        padding:0rem 0.5rem 0 1rem;
    }

    .containerP
    {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        gap: 2rem;
        .bg 
        {
            float: none;
            max-width: 80%;
            margin: 1% auto;
        }   
    }

    

    .textoProductos {
        margin: 3rem 3.5rem 3rem 3.5rem;
        color:$color__overlay--letra;
        background-color: #597c8f;
        display: block;
        text-align: center;
        font-style: italic;
        border-color:$color__textArea;
        padding: 1rem 2rem 1rem 2rem;
        a 
        {
            text-decoration: none;
            color:$color__overlay--letra;
        }
    }

    .textoProductos:hover {
        background-color:$color__textArea--hover;
        border-color:$color__textArea--hover;
    }

    

    footer 
    {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        background-color:$color_footer;
        color:$color_footer_texto;
        padding: 1rem 0 0 0;
        width: 100%;
        position: relative;
        bottom: 0;
        .redesSociales 
        {
            display: flex;
            justify-content: center;
            align-items: center;
        .a {
                display: inline-block;
                padding: 0.1rem;
                img 
                {
                    height: 1em;
                    width: 1em;
                    display: block;
                    margin: auto;
                    align-items: center;
                }
            }
        }
        p {
            font-size: 0.8rem;
            display: block;
            margin: auto;
            padding: 0;
            align-items: center;
        }
    
        .redes {
            display: none;
        }
        .frase
        {
            display: none;
        }
    }
}



