/* ------------------------------MEDIA QUERIES ---------------------------------------- */

/* --------------DESKTOP----------------------*/
@media (max-width:1440px) and (min-width:1025px) 
{
    .container-fluid {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        gap: 8rem;
    }
    .navbar-nav {
        gap: 6rem;
    }
    .navbar-light {
        .navbar-nav {
            .nav-link {
                color:$color_navbar_links;
            }
        }
    }
    .navbar-brand {
        img {
            width: 8em;
            height: 3em;
            margin: 0rem 0rem 0rem 0rem;
        }
    }
    

    .textoIdeas{
        text-align: center;
        color:$color_subtitulos;
        font-size: 1.4rem;
        margin: 1.5rem 0 1rem 0;
    }

    .image-container .after 
    {
        font-size: 1.4rem;
    }
}

/* --------------TABLET----------------------- */
@media (max-width: 768px) and (min-width: 425px) 
{
    .image-container .after 
    {
        font-size: 1.3rem;
    }
}

/* --------------CELULAR---------------------- */
@media (max-width:375px) and (min-width:320px)
{
    .textoIdeas{
        text-align: center;
        color:$color_subtitulos;
        font-size: 1.4rem;
        margin: 1.5rem 0 1rem 0;
    }
    .image-container .after 
    {
        font-size:2rem;
    }
    .frase
    {
        display:none;
    }
}