/* Esto es el codigo de la navbar para todas las paginas */
.container-fluid {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	gap: 8rem;
}
.navbar-nav {
	gap: 6rem;
}
.navbar-light {
	.navbar-nav {
		.nav-link {
			color:$color_navbar_links;
			display: inline-block;
			position: relative;
		}
		.nav-link::after
		{
			content: "";
			display: block;
			margin: auto;
			height: 2px;
			width: 0px;
			transition: all .8s;
		}
		.nav-link:hover:after
		{
			color:$color_navbar_links--hover;
			width: 100%;
			background:$color_navbar_links--hover;
		}
	} 
}
.navbar-brand {
	img {
		@include sizesImg(8em,3em);
		margin:0;
	}
}
