/* NOSOTROS */
.containerFoto
{
    .img-fluid 
    {
        @include sizesImg(100%,36rem);
    }
}

.tituloNosotros {
    color:$color_titulos;
    margin-top: 0.8rem;
    text-align: center;
    padding-top: 0.7rem;
    font-size: 1.5rem;
}

.textoNosotros 
{
    @extend %texto;
    margin: 1.5rem 4rem 2rem 4rem;
}
