/* ----------------------------------------------------- */
/* NOSOTROS */
h1 {
    color: #053047;
    margin-top: 0.8rem;
    text-align: center;
    padding-top: 0.7rem;
    font-size: 1.5rem;
}

.textoNosotros {
    color: #174E6D;
    text-align: center;
    font-size: 1rem;
    margin: 1.5rem 4rem 2rem 4rem;
}

.img-fluid {
    width: 100%;
    height: 33rem;
}