$color__overlay--letra:white;
$color__textArea:#59849b;
$color__textArea--hover:#265672;
$color__link--hover:#90b8d4;
$borderRad:3%;

h1 {
    color:$color_titulos;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 2rem;
}

.subProductos{
    color:$color_subtitulos;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

/* Foto productos */
.containerFotoP
{
    .img-fluid
    {
        @include sizesImg(100%,auto);
    }
}


/*Esto es para el overlay de las fotos*/
/* Uso flex para alinear como fila todo lo que esta aca adentro */
.containerP 
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem 1rem 0 1rem;
    .bg
    {
        max-width: 24%;
        position: relative;
        margin: 2%;
        img
        {
            transition: 0.3s all;
            border-radius:$borderRad;
            width: 100%;
        }
        img:hover {
            -webkit-filter: blur(2px);
            filter: blur(2px);
        }
        .overlay 
        {
            text-align: center;
            transition: 0.3s all;
            border-radius:$borderRad;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.2);
            color:$color__overlay--letra;
            opacity: 0;
            h3 
            {
                padding-top: 3%;
                padding-bottom: 2%;
                font-weight: 300;
                font-size: 1.4rem;
                color:$color__overlay--letra;
                font-family: 'Roboto', sans-serif;
                text-align: center;
                display: block;
                margin: auto;
            }
            ul
            {
            /* items */
                li 
                {
                    font-family: "Julius Sans One", sans-serif;
                    font-size: 0.9rem;
                    text-align: center;
                    list-style: none;
                    margin-right: 1.2rem;
                    padding: 0;
                }
            }
        }
        .overlay:hover
        {
            opacity: 1; 
        }
    } 
} 
    .textoProductos {
        margin: 3rem 5rem 3rem 5rem;
        padding: 0;
        color:$color__overlay--letra;
        background-color:$color__textArea;
        display: block;
        text-align: center;
        font-style: italic;
        border-color:$color__textArea;
        padding: 0.5%;
        a {
            text-decoration: none;
            color:$color__overlay--letra;
        }
        
        a:hover {
            color:$color__link--hover
        }
    }
    
    .textoProductos:hover {
        background-color:$color__textArea--hover;
        border-color:$color__textArea--hover;
    }
    



