/* -------------OPERACIONES---------------- */
@each $header,
$size in (h1: 1.4rem) {
    #{$header} {
        font-size: $size;
        color:$color_titulos;
    }
}

%texto
{
    font-size: 1.2rem;
    color:$color_subtitulos;
    text-align: center;
}